<table style="width: 90%;" border="1">
    <thead>
        <tr>
            <th style="width: 20%;">Veículo</th>
            <th style="width: 10%;">Placa</th>
            <th style="width: 20%;">Motorista</th>
            <th style="width: 15%;">Entrada</th>
            <th style="width: 15%;">Saída</th>
            <th style="width: 15%;">Total</th>
            <th style="width: 5%;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of parkings">
            <td>{{p.vehicle}}</td>
            <td>{{p.plate}}</td>
            <td>{{p.driver}}</td>
            <td>{{p.start | date:"dd/MM/yyyy HH:mm:ss"}}</td>
            <td>{{p.finish | date:"dd/MM/yyyy HH:mm:ss"}}</td>
            <td>{{p.price | currency:"R$"}}</td>
            <td align="center">
                <input *ngIf="p.finish == null" type="button" value="Encerrar" (click)="endParking(p)" />
            </td>
        </tr>
    </tbody>
</table>